<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TimeIncrement" value="60"/>
		<add key="Version" value="1.0.0.0"/>
		<add key="EmployeeDataFileName" value="Employees.json"/>
		<add key="ApiBaseURL" value="https://tests.dev.payclock.com/api/"/>
		<add key="ApiKey" value="x-functions-key"/>
		<add key="ApiKeyValue" value="XnT2Cpda4CPR26acYEJrcwnNdUthTchAkmjplxU7GsPVUdeLfdvPYA=="/>
	</appSettings>
</configuration>